<% require 'rubygems' %>
<% require 'musix_match' %>
<% require 'RedCloth' %>
<% require 'twitter' %>

<% form_tag(search_path, :method => 'get') do %>
  <center>
    <span id="name" style="visibility:hidden;"><%= label_tag :q, "Artist Or Song: " %></span>
    <div  type="text" onmouseover="document.getElementById('name').style .visibility='visible'" onmouseout="document.getElementById('name').style. visibility='hidden'">
      <%= text_field_tag :q, '', :size => 75 %>
    </div>
    <%= submit_tag 'Search' %>
  </center>
<% end %>
<br />
<div class="twitter">
   <% twsearch  = Twitter::Search.new %>
   <% twsearch.containing(params['q']).result_type("recent").per_page(5).each do |r| %>
     <% twat = "<a href='http://www.twitter.com/#{r.from_user}'>@#{r.from_user}</a>: #{r.text}" %>
     <% twitter = RedCloth.new(twat).to_html %>
     <%=raw twitter %>
   <% end %>
 </div>
 <br />
<div class="video">
  <% @youtube.videos.each do |v| %>
    <% if v.embeddable?  %>
      <% title_track = v.title%>
     <p><object width="425" height="350"> 
        <param name="movie" value="<%= v.embed_url %>">
       </param> 
       <param name="wmode" value="transparent">
        </param> 
       <embed src="<%= v.embed_url %>" type="application/x-shockwave-flash" wmode="transparent" width="425" height="350">
       </embed> 
     </object><br />
     <a href="http://www.youtube.com/watch?v=<%= v.unique_id %>"><%= v.title %></a></p>
   <% @title = v.title %>
 </div>
 <% end %>
 <div class="lyrics">
 <% MusixMatch::API::Base.api_key = '64d41a1b7134ab24fb2cc577a0aa8e84' %>
 <% response = MusixMatch.search_track(:q => @title, :page => 1, :page_size => 1, :f_has_lyrics => 1) %>
 <% if response.status_code == 200 %>
   <% response.each do |track| %>
     <% track_id = "#{track.track_id}" %>
     <em><b><u><%= "#{track.artist_name} : #{track.track_name}" %></u></b></em>
     <% query =  MusixMatch.get_lyrics(track_id) %>
     <% if query.status_code == 200 && lyrics = query.lyrics %>
       <% lyric = lyrics.lyrics_body %>
       <% @lyric_id = lyrics.lyrics_id %>
       <% textile_object = RedCloth.new(lyric).to_html %>
       <%=raw textile_object %>
       <i>Lyrics Provided by <a href="http://musixmatch.com/">MusixMatch</a></i>
       <% end %>
     <% end %>
   <% end %> 
 <% end %>
 </div>
 <div id="disqus_thread"></div>
 <div class="fb">
   <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=171535432887454&amp;amp;xfbml=1"></script><fb:comments numposts="10" width="425" publish_feed="true"></fb:comments>
 </div>
